{% extends "base_template.html" %}

{% block title %}Home{% endblock %}

{% block content %}{% endblock %}

{% block juego %}
        <table class="tabla">
            <tr>
                <td>
                    <form action="{{ url_for('jugar') }}" method="post">
                        <input type="hidden" name="input_usuario" value="1">
                        <button type="submit" style="border: none; background: none; padding: 0;">
                            <img src="{{ url_for('static', filename='assets/piedrappt.png') }}" class="imagen">
                        </button>
                    </form>

                    </td>
                    <td>
                    
                    <form action="{{ url_for('jugar') }}" method="post">
                        <input type="hidden" name="input_usuario" value="2">
                        <button type="submit" style="border: none; background: none; padding: 0;">
                            <img src="{{ url_for('static', filename='assets/papelppt.png') }}" class="imagen">
                        </button>
                    </form>

                    </td>
                    <td>
                    
                    <form action="{{ url_for('jugar') }}" method="post">
                        <input type="hidden" name="input_usuario" value="3">
                        <button type="submit" style="border: none; background: none; padding: 0;">
                            <img src="{{ url_for('static', filename='assets/tijerasppt.png') }}" class="imagen">
                        </button>
                    </form>

                </td>
            </tr>
        </table>

    
{% endblock %}